PORT=5050
# Example for local MongoDB:
MONGODB_URI=mongodb://127.0.0.1:27017/omsahuvastralaya

# Example for MongoDB Atlas Cloud:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/omsahuvastralaya?retryWrites=true&w=majority

NODE_ENV=development
